<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhonglianxs.erp.cpw.mapper.OrderMapper" >

    <select id="getModelByUser" resultType="java.lang.String">
        SELECT cable_model FROM `cable_info` where cable_delete = 0 and cable_user_id = #{userId} group by cable_model
    </select>

    <select id="getSpecByModel" resultType="java.lang.String">
        select cable_spec from cable_info where cable_delete = 0 and cable_user_id = #{userId} and cable_model = #{model}
    </select>

    <select id="getOrderItemByOrderId" resultType="java.util.Map">
        select item_model,item_spec,item_unit,item_color,item_number,item_price from cable_order_item where item_order_id = #{orderId}
    </select>
</mapper>